<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="materializ.css" type="text/css" rel="stylesheet" />
</head>

<body>

    <nav style="background:#4857c1">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="center">
                <li><a href="/auth/login/google">CLICK HERE TO UPLOAD YOUR FILES</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col s12"></div>
                <div class="col s12 m4 center"></div>
            </div>
        </div>
    </main>

</body>
</html>